<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= page_title(@conn) %></title>
    <meta name="description" content="Community driven place for Elixir goodies">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/admin/app.css") %>">
  </head>
  <body>

    <div class="container">

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <%= link "ElixirStream", to: admin_entry_path(@conn, :index), class: "navbar-brand" %>
          </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li role="presentation"><%= link "New entry", to: admin_entry_path(@conn, :new) %></li>
          </ul>
        </div>
        </div>
      </nav>

      <%= @inner %>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/admin/app.js") %>"></script>
  </body>
</html>
