<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ElixirStream - Community driven place for Elixir goodies</title>
    <meta name="description" content="Community driven place for Elixir goodies">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <!-- Latest compiled and minified CSS -->
    <!-- Optional theme -->
    <!-- Latest compiled and minified JavaScript -->
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="<%= entry_path(@conn, :new) %>">Submit</a>
            </li>
            <%= if @conn.assigns[:current_user] do %>
            <li>
              <a href="<%= user_path(@conn, :sign_out) %>">Sign out</a>
            </li>
          <% else %>
            <li>
              <a href="<%= user_path(@conn, :log_in_form) %>">Log in</a>
            </li>
            <li>
              <a href="<%= user_path(@conn, :register_form) %>">Register</a>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
      </div>
    </nav>
    <div class="container">

      <p class="alert alert-info"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger"><%= get_flash(@conn, :error) %></p>

      <%= @inner %>

      <div class="footer">
      </div>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require("web/static/js/app")</script>
  </body>
</html>
